In [ ]:
t = ()

In [ ]:
t1 = (2,3,4,5)
t1

(2, 3, 4, 5)

In [3]:
type(t1)

tuple

In [5]:
t2 = (2,3,4,"Anand",34+8j,True,[5,7,8])
t2

(2, 3, 4, 'Anand', (34+8j), True, [5, 7, 8])

In [ ]:
t2[0] = 6 # tuple is immutabl

TypeError: 'tuple' object does not support item assignment

In [7]:
tuple("Anand")

('A', 'n', 'a', 'n', 'd')

In [8]:
tuple(["Anand",2,3,4,])

('Anand', 2, 3, 4)

In [9]:
list(t2)

[2, 3, 4, 'Anand', (34+8j), True, [5, 7, 8]]

In [11]:
t3 = (12,23,(23,"Gupta",3,7,8,False),4,2)
t3

(12, 23, (23, 'Gupta', 3, 7, 8, False), 4, 2)