In [1]:
d = {}

In [2]:
type(d)

dict

In [4]:
d1 = dict()
type(d1)

dict

In [8]:
d2 = {"name":"Anand","email":"anandgupta73830@gmail.com","age":21,"Single":True}
d2

{'name': 'Anand',
 'email': 'anandgupta73830@gmail.com',
 'age': 21,
 'Single': True}

In [7]:
d3 = {12,"Anand"}
d3

{12, 'Anand'}

In [9]:
d4 = {#:"And"}

SyntaxError: incomplete input (411593084.py, line 1)

In [11]:
d4 = {"#":"Gupta"}
d4

{'#': 'Gupta'}

In [ ]:
d5 = {[1,2,3]:"Anand"} # not possible

TypeError: unhashable type: 'list'

In [13]:
d5 = {{1,2,3}:"Anand"}

TypeError: unhashable type: 'set'

In [15]:
d5 = {(1,2,3):"Anand"}
d5

{(1, 2, 3): 'Anand'}

In [16]:
d5 = {False:"Anand"}

In [17]:
d5={23.43:"Anand"}

In [18]:
d5 = {23+3j:"Anan"}

In [19]:
d5 = {{"Key":"Value"}}

TypeError: unhashable type: 'dict'

In [20]:
d5 = {"name":"Anand","name":"Anand Gupta"}
d5

{'name': 'Anand Gupta'}

In [23]:
d6 = {"name":"Anand Gupta","subject":{"DSA, ML,PYTHON,DS, ANALYTICS,WEB DEV"}}
d6

{'name': 'Anand Gupta', 'subject': {'DSA, ML,PYTHON,DS, ANALYTICS,WEB DEV'}}

In [ ]:
d6 = {"name":"Anand Gupta","subject":["DSA, ML,PYTHON,DS, ANALYTICS,WEB DEV"],"email":("anand738@gmail.com","nitin23@gmail.com")}
d6

{'name': 'Anand Gupta',
 'subject': ['DSA, ML,PYTHON,DS, ANALYTICS,WEB DEV'],
 'email': ('anand738@gmail.com', 'nitin23@gmail.com')}

In [25]:
d6 = {"name":"Anand Gupta",
      "subject":["DSA, ML,PYTHON,DS, ANALYTICS,WEB DEV"],
      "email":("anand738@gmail.com","nitin23@gmail.com"),
      "phone numner":7383029448,
      "height":166.32,
      "Male":True}
d6

{'name': 'Anand Gupta',
 'subject': ['DSA, ML,PYTHON,DS, ANALYTICS,WEB DEV'],
 'email': ('anand738@gmail.com', 'nitin23@gmail.com'),
 'phone numner': 7383029448,
 'height': 166.32,
 'Male': True}

In [26]:
d6 = {"name":"Anand Gupta",
      "subject":["DSA, ML,PYTHON,DS, ANALYTICS,WEB DEV"],
      "email":("anand738@gmail.com","nitin23@gmail.com"),
      "phone numner":7383029448,
      "height":166.32,
      "Male":True,
      "Lucky number":{1,2,23,23,231,1,12,12,2,4,5,56,2,1}}
d6

{'name': 'Anand Gupta',
 'subject': ['DSA, ML,PYTHON,DS, ANALYTICS,WEB DEV'],
 'email': ('anand738@gmail.com', 'nitin23@gmail.com'),
 'phone numner': 7383029448,
 'height': 166.32,
 'Male': True,
 'Lucky number': {1, 2, 4, 5, 12, 23, 56, 231}}

In [72]:
d6 = {"name":"Anand Gupta",
      "subject":["DSA, ML,PYTHON,DS, ANALYTICS,WEB DEV"],
      "email":("anand738@gmail.com","nitin23@gmail.com"),
      "phone numner":7383029448,
      "height":166.32,
      "Male":True,
      "Lucky number":{1,2,23,23,231,1,12,12,2,4,5,56,2,1},
      "Resume":{"linkedin":"https://www.linkedin.com/in/anand-gupta-b8a43b200/",
                "Github":"https://www.github.com/anand738",
                "age":21,
                "Project":["WAR","DRDO","HPP"]}}
d6

{'name': 'Anand Gupta',
 'subject': ['DSA, ML,PYTHON,DS, ANALYTICS,WEB DEV'],
 'email': ('anand738@gmail.com', 'nitin23@gmail.com'),
 'phone numner': 7383029448,
 'height': 166.32,
 'Male': True,
 'Lucky number': {1, 2, 4, 5, 12, 23, 56, 231},
 'Resume': {'linkedin': 'https://www.linkedin.com/in/anand-gupta-b8a43b200/',
  'Github': 'https://www.github.com/anand738',
  'age': 21,
  'Project': ['WAR', 'DRDO', 'HPP']}}

In [34]:
d6["name"]

'Anand Gupta'

In [35]:
d6["Resume"]

{'linkedin': 'https://www.linkedin.com/in/anand-gupta-b8a43b200/',
 'Github': 'https://www.github.com/anand738',
 'age': 21,
 'Project': ['WAR', 'DRDO', 'HPP']}

In [36]:
d6["Resume"]["linkedin"]

'https://www.linkedin.com/in/anand-gupta-b8a43b200/'

In [38]:
d6["Resume"]["Project"][2]

'HPP'

In [40]:
d6["height"] = 170.2
d6

{'name': 'Anand Gupta',
 'subject': ['DSA, ML,PYTHON,DS, ANALYTICS,WEB DEV'],
 'email': ('anand738@gmail.com', 'nitin23@gmail.com'),
 'phone numner': 7383029448,
 'height': 170.2,
 'Male': True,
 'Lucky number': {1, 2, 4, 5, 12, 23, 56, 231},
 'Resume': {'linkedin': 'https://www.linkedin.com/in/anand-gupta-b8a43b200/',
  'Github': 'https://www.github.com/anand738',
  'age': 21,
  'Project': ['WAR', 'DRDO', 'HPP']}}

In [45]:
d6["Company"] = ["AMNS","Wipro","John Deer","Oracle","Delloite","ineuron"]
d6

{'name': 'Anand Gupta',
 'subject': ['DSA, ML,PYTHON,DS, ANALYTICS,WEB DEV'],
 'email': ('anand738@gmail.com', 'nitin23@gmail.com'),
 'phone numner': 7383029448,
 'height': 166.32,
 'Male': True,
 'Lucky number': {1, 2, 4, 5, 12, 23, 56, 231},
 'Resume': {'linkedin': 'https://www.linkedin.com/in/anand-gupta-b8a43b200/',
  'Github': 'https://www.github.com/anand738',
  'age': 21,
  'Project': ['WAR', 'DRDO', 'HPP'],
  'Company': ['AMNS', 'Wipro', 'John Deer', 'Oracle', 'Delloite', 'ineuron']},
 'Company': ['AMNS', 'Wipro', 'John Deer', 'Oracle', 'Delloite', 'ineuron']}

In [46]:
d6["Resume"]["Company"] = ["AMNS","Wipro","John Deer","Oracle","Delloite","ineuron"]
d6

{'name': 'Anand Gupta',
 'subject': ['DSA, ML,PYTHON,DS, ANALYTICS,WEB DEV'],
 'email': ('anand738@gmail.com', 'nitin23@gmail.com'),
 'phone numner': 7383029448,
 'height': 166.32,
 'Male': True,
 'Lucky number': {1, 2, 4, 5, 12, 23, 56, 231},
 'Resume': {'linkedin': 'https://www.linkedin.com/in/anand-gupta-b8a43b200/',
  'Github': 'https://www.github.com/anand738',
  'age': 21,
  'Project': ['WAR', 'DRDO', 'HPP'],
  'Company': ['AMNS', 'Wipro', 'John Deer', 'Oracle', 'Delloite', 'ineuron']},
 'Company': ['AMNS', 'Wipro', 'John Deer', 'Oracle', 'Delloite', 'ineuron']}

In [48]:
len(d6)

9

In [50]:
d6.keys()

dict_keys(['name', 'subject', 'email', 'phone numner', 'height', 'Male', 'Lucky number', 'Resume', 'Company'])

In [51]:
d6.values()

dict_values(['Anand Gupta', ['DSA, ML,PYTHON,DS, ANALYTICS,WEB DEV'], ('anand738@gmail.com', 'nitin23@gmail.com'), 7383029448, 166.32, True, {1, 2, 4, 5, 231, 12, 23, 56}, {'linkedin': 'https://www.linkedin.com/in/anand-gupta-b8a43b200/', 'Github': 'https://www.github.com/anand738', 'age': 21, 'Project': ['WAR', 'DRDO', 'HPP'], 'Company': ['AMNS', 'Wipro', 'John Deer', 'Oracle', 'Delloite', 'ineuron']}, ['AMNS', 'Wipro', 'John Deer', 'Oracle', 'Delloite', 'ineuron']])

In [52]:
d6["Resume"].keys()

dict_keys(['linkedin', 'Github', 'age', 'Project', 'Company'])

In [53]:
d6["Resume"].values()

dict_values(['https://www.linkedin.com/in/anand-gupta-b8a43b200/', 'https://www.github.com/anand738', 21, ['WAR', 'DRDO', 'HPP'], ['AMNS', 'Wipro', 'John Deer', 'Oracle', 'Delloite', 'ineuron']])

In [54]:
d6.items()

dict_items([('name', 'Anand Gupta'), ('subject', ['DSA, ML,PYTHON,DS, ANALYTICS,WEB DEV']), ('email', ('anand738@gmail.com', 'nitin23@gmail.com')), ('phone numner', 7383029448), ('height', 166.32), ('Male', True), ('Lucky number', {1, 2, 4, 5, 231, 12, 23, 56}), ('Resume', {'linkedin': 'https://www.linkedin.com/in/anand-gupta-b8a43b200/', 'Github': 'https://www.github.com/anand738', 'age': 21, 'Project': ['WAR', 'DRDO', 'HPP'], 'Company': ['AMNS', 'Wipro', 'John Deer', 'Oracle', 'Delloite', 'ineuron']}), ('Company', ['AMNS', 'Wipro', 'John Deer', 'Oracle', 'Delloite', 'ineuron'])])

In [57]:
list(d6.items())

[('name', 'Anand Gupta'),
 ('subject', ['DSA, ML,PYTHON,DS, ANALYTICS,WEB DEV']),
 ('email', ('anand738@gmail.com', 'nitin23@gmail.com')),
 ('phone numner', 7383029448),
 ('height', 166.32),
 ('Male', True),
 ('Lucky number', {1, 2, 4, 5, 12, 23, 56, 231}),
 ('Resume',
  {'linkedin': 'https://www.linkedin.com/in/anand-gupta-b8a43b200/',
   'Github': 'https://www.github.com/anand738',
   'age': 21,
   'Project': ['WAR', 'DRDO', 'HPP'],
   'Company': ['AMNS',
    'Wipro',
    'John Deer',
    'Oracle',
    'Delloite',
    'ineuron']}),
 ('Company', ['AMNS', 'Wipro', 'John Deer', 'Oracle', 'Delloite', 'ineuron'])]

In [58]:
d6["name"]

'Anand Gupta'

In [59]:
d6.get("name")

'Anand Gupta'

In [60]:
d6.get("Resume")

{'linkedin': 'https://www.linkedin.com/in/anand-gupta-b8a43b200/',
 'Github': 'https://www.github.com/anand738',
 'age': 21,
 'Project': ['WAR', 'DRDO', 'HPP'],
 'Company': ['AMNS', 'Wipro', 'John Deer', 'Oracle', 'Delloite', 'ineuron']}

In [61]:
d6.update({"name":"Nitin Gupta"})

In [62]:
d6

{'name': 'Nitin Gupta',
 'subject': ['DSA, ML,PYTHON,DS, ANALYTICS,WEB DEV'],
 'email': ('anand738@gmail.com', 'nitin23@gmail.com'),
 'phone numner': 7383029448,
 'height': 166.32,
 'Male': True,
 'Lucky number': {1, 2, 4, 5, 12, 23, 56, 231},
 'Resume': {'linkedin': 'https://www.linkedin.com/in/anand-gupta-b8a43b200/',
  'Github': 'https://www.github.com/anand738',
  'age': 21,
  'Project': ['WAR', 'DRDO', 'HPP'],
  'Company': ['AMNS', 'Wipro', 'John Deer', 'Oracle', 'Delloite', 'ineuron']},
 'Company': ['AMNS', 'Wipro', 'John Deer', 'Oracle', 'Delloite', 'ineuron']}

In [63]:
d6.pop()

TypeError: pop expected at least 1 argument, got 0

In [65]:
d6.pop("height")

166.32

In [76]:
d6

{'name': 'Anand Gupta',
 'subject': ['DSA, ML,PYTHON,DS, ANALYTICS,WEB DEV'],
 'email': ('anand738@gmail.com', 'nitin23@gmail.com'),
 'phone numner': 7383029448,
 'height': 166.32,
 'Male': True,
 'Lucky number': {1, 2, 4, 5, 12, 23, 56, 231}}

In [73]:
d6.popitem()

('Resume',
 {'linkedin': 'https://www.linkedin.com/in/anand-gupta-b8a43b200/',
  'Github': 'https://www.github.com/anand738',
  'age': 21,
  'Project': ['WAR', 'DRDO', 'HPP']})

In [78]:
d6["Lucky number"].popitem()

AttributeError: 'set' object has no attribute 'popitem'

In [69]:
d6 = d5.copy()

In [70]:
d6

{'name': 'Anand Gupta'}