In [2]:
l = [1,2,3,4,5]
l[2]

3

In [11]:

for i in l:
    print(i)

1
2
3
4
5

In [12]:
for i in l:
    print(i**2)

1
4
9
16
25

In [14]:
l1 =[]
for i in l:
    l1.append(i**2)
    print(l1)
l1

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [15]:
s = "Anand"
for i in s:
    print(i)

A
n
a
n
d

In [16]:
s = "Anand"
l2 = []
for i in s:
    l2.append(i)
l2

['A', 'n', 'a', 'n', 'd']

In [18]:
le = []
lo = []
for i in l:
    if i%2==0:
        le.append(i)
    else:
        lo.append(i)
le,lo

([2, 4], [1, 3, 5])

In [19]:
t = (1,2,3,4,4,443,'sdf',94)
for i in t:
    print(i)

1
2
3
4
4
443
sdf
94

In [20]:
d = {"name":"Anand","email":"anand@gmail.com","phone":"2387844"}

In [21]:
d.keys()

dict_keys(['name', 'email', 'phone'])

In [22]:
d.values()

dict_values(['Anand', 'anand@gmail.com', '2387844'])

In [23]:
d.items()

dict_items([('name', 'Anand'), ('email', 'anand@gmail.com'), ('phone', '2387844')])

In [24]:
for i in d.keys():
    print(i)

name
email
phone

In [25]:
for i in d.values():
    print(i)

Anand
anand@gmail.com
2387844

In [26]:
d["name"]

'Anand'

In [28]:
for i in d.keys():
    print(d[i])

Anand
anand@gmail.com
2387844

In [29]:
for i in d.values():
    print(d[i])

KeyError: 'Anand'

In [31]:
s = {1,2,3,4,5,67,73,3,233,4}

for i in s:
    print(i)

1
2
3
4
5
67
73
233

In [32]:
range(20)

range(0, 20)

In [33]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
list(range(0,50,2))

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48]

In [40]:
list(range(0,20,-1))

[]

In [42]:
list(range(20,0,-2))

[20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [43]:
for i in range(0,20,3):
    print(i)

0
3
6
9
12
15
18

In [46]:
l = ["Anand","Gupta","Pyhton","CPP","Java"]
for i in enumerate(l):
    print(i)

(0, 'Anand')
(1, 'Gupta')
(2, 'Pyhton')
(3, 'CPP')
(4, 'Java')

In [51]:
for index,data in enumerate(l):
    print(index,data)

0 Anand
1 Gupta
2 Pyhton
3 CPP
4 Java

In [59]:
l1 = [1,2,3]
l2 = ["Anand","Gupta","Nitin"]

for i in zip(l1,l2):
    print(i)

(1, 'Anand')
(2, 'Gupta')
(3, 'Nitin')

In [ ]:
l1 = [1,2,3]
l2 = ["Anand","Gupta","Nitin","dv"]   # one to one mapping

for i in zip(l1,l2):
    print(i)

(1, 'Anand')
(2, 'Gupta')
(3, 'Nitin')

In [65]:
s = "Anand Gupta"
s1 = [1,3,3,4,5]
s[::-1]

'atpuG dnanA'

In [73]:
for i in reversed(s):
    print(i)

a
t
p
u
G

d
n
a
n
A

In [74]:
sum = 0
for i in s1:
    sum = sum +i
print(sum)

16

In [77]:
a = 0
b=1


for i in range(10):
    print(a)
    a,b=b,a+b

0
1
1
2
3
5
8
13
21
34

In [84]:
number = int(input("Enter the number"))
for i in range(1,11):
    # print(i,"*",number,"=",number*i)
    print(f"{number}*{i} = {number*i}")

3*1 = 3
3*2 = 6
3*3 = 9
3*4 = 12
3*5 = 15
3*6 = 18
3*7 = 21
3*8 = 24
3*9 = 27
3*10 = 30

In [88]:
for i in range(5):
    print("5"*(i+1))

5
55
555
5555
55555

In [93]:
l = [1,2,3,4,5,6,8,29,542,2]
sum=0
limit = 50
for i in l:
    sum = sum+i
    if sum>limit:
        print("print the sum",sum)
        break

print the sum 58

In [97]:
data = range(100)

max_iter = 12
for i in data:
    if i>max_iter:
        print("Thsi is my cap",i)
        break
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
Thsi is my cap 13

In [104]:
n = int(input("Enter the number"))
a=0
b=1
c=0
if n<0:
    print("Enter valid number")
elif n==0:
    print(a)

elif n==1:
    print(b)

else:
    print(a)
    print(b)
    for i in range(1,n):
        c = a+b
        a=b
        b=c
        print(b)

0
1
1
2
3
5

In [108]:
data = range(10)

for i in data:
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [110]:
name = "Anand Gupta"
for i in name:
    if i==" ":
        continue
    print(i)

A
n
a
n
d
G
u
p
t
a

In [112]:
l = [1,3,4,-43,3,0,-3,5,-9,2,0]

for i in l:
    if i<0 or i==0:
        continue
    print(i)

1
3
4
3
5
2

In [114]:
l = [1,3,4,-43,3,0,-3,5,-9,2,0]
num=10
for i in l:
    if i==0:
        continue
    print(num/i)

10.0
3.3333333333333335
2.5
-0.23255813953488372
3.3333333333333335
-3.3333333333333335
2.0
-1.1111111111111112
5.0

In [116]:
data = [[1,2,3],[4,5,6],[5,6,7,8],[3,4]]
for i in data:
    if len(i)<3:
        continue
    print(i)

[1, 2, 3]
[4, 5, 6]
[5, 6, 7, 8]

# For with Else

In [118]:
l = [2,3,45,56,6,8]
target = 8
for i in l:
    
    print(i)
else:
    print("this will be executed")

2
3
45
56
6
8
this will be executed

In [123]:
l = [2,3,45,56,6,8]
target = 8
for i in l:
    if i==target:
        print(i)
        break
else:
    print(f"{target} i  am not able to find")

8

In [125]:
num = [2,3,4,5,6,7,8,9]
for i in num:
    if i%2==0:
        print("This is even number",i)
        break
else:
    print("i am not able to find even number")

This is even number 2