In [1]:
def test():
    pass

In [2]:
test()

In [3]:
def test1():
    print("This is my first functino")

In [4]:
test1()

This is my first functino

In [5]:
test1() + "ANAND"

This is my first functino

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [6]:
def test2():
    return "This is my 2nd function"

In [8]:
test2() + " Anand"

'This is my 2nd function Anand'

In [9]:
def test3():
    return 2342434

In [10]:
test3()

2342434

In [12]:
type(test3())

int

In [14]:
def test4():
    return 2,3,4,5,"anand",[2,3,4],True

In [15]:
test4()

(2, 3, 4, 5, 'anand', [2, 3, 4], True)

In [16]:
type(test4())

tuple

In [19]:
def test5():
    return 4,5,6,"Anand"

In [20]:
a = test3()

In [21]:
a*10

23424340

In [24]:
a,b,c,d = test5()

In [25]:
a

4

In [26]:
b

5

In [27]:
c

6

In [28]:
d

'Anand'

In [30]:
def test6():
    i=0
    j=2
    return i+j

In [31]:
test6()

2

In [32]:
def test7():
    l =[2,3,4,5,6]
    sum=0
    for i in l:
        sum = sum+i
    return sum

In [33]:
test7()

20

In [34]:
def test7(l):
    sum=0
    for i in l:
        sum = sum+i
    return sum

In [35]:
test7([2,3,4,5,6,7,9])

36

In [49]:
def test9(a,b,c):
    return a+b+c

In [50]:
test9("Anand"," Kumar"," Gupta")

'Anand Kumar Gupta'

In [51]:
test9(2,3,4)

9

In [48]:
test9(2,"Anand",True)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [43]:
def test10(a:str,b:int,c:str):
    return a,b,c

In [44]:
test10(20,"Anand"," Gupta")

(20, 'Anand', ' Gupta')

In [54]:
def test10(a:str,b:int,c:str)->tuple:
    return a,b,c

In [56]:
test10(20,"Anand"," Gupta")

(20, 'Anand', ' Gupta')