In [6]:
number = [2,3,5,6,5,7,0]

In [7]:
sq = lambda number:[i**2 for i in number]

In [8]:
sq(number)

[4, 9, 25, 36, 25, 49, 0]

In [10]:
# by using map

square = map(lambda x:x**2,number)

In [12]:
list(square)

[4, 9, 25, 36, 25, 49, 0]

In [13]:
def test(x):
    return x**2

In [15]:
list(map(test,number))

[4, 9, 25, 36, 25, 49, 0]

In [17]:
l = ["anand","Gupta","Python","Cpp"]

def uppercase(a):
    return a.upper()

list(map(uppercase,l))

['ANAND', 'GUPTA', 'PYTHON', 'CPP']

In [20]:
l = ["4","4","70","23"]
tuple(map(lambda x:int (x),l))

(4, 4, 70, 23)

In [22]:
l1 = [2,3,4,5]
l2 = [3,5,7,8]
list(map(lambda x,y:x+y,l1,l2))

[5, 8, 11, 13]

In [23]:
from functools import reduce

In [28]:
l = [2,3,4,56,6,8,3]
sum(l)

82

In [29]:
reduce(lambda x,y:x+y,l)

82

In [30]:
reduce(lambda x,y,z:x+y+z,l)

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [31]:
l1 =[2]
reduce(lambda x,y:x+y,l)

82

In [33]:
l=[2,4,3,5,5,7,89,97,67,3]
max(l)

97

In [35]:
reduce(lambda x,y:x if x>y else y,l)

97

In [39]:
l = ["Anand"," Gupta", "-Data Scientist"]
reduce(lambda x,y:x+y,l)

'Anand Gupta-Data Scientist'

In [40]:
def conct(x,y):
    return x+y

In [41]:
reduce(conct,l)

'Anand Gupta-Data Scientist'

In [42]:
l = [[2,3,5,5],[4,3,2,2],[6,7,4,3]]

reduce(lambda x,y:set(x) &set(y),l)

{3}

In [45]:
# Filter
l = [2,3,4,5,56,67,8,88,4,0,32]
list(filter(lambda x:x%2==0,l))

[2, 4, 56, 8, 88, 4, 0, 32]

In [50]:
list(filter(lambda x:x%2==0,l))

[2, 4, 56, 8, 88, 4, 0, 32]

In [51]:
l = ["","Anand","","Gupta"]

list(filter(None,l))

['Anand', 'Gupta']

In [53]:
list(filter(lambda x:x!="",l))

['Anand', 'Gupta']

In [56]:
l = [2,3,4,5,6,3,2,45,6,0]

list(map(lambda x:x**2,filter(lambda x:x%2==0,l)))

[4, 16, 36, 4, 36, 0]

In [ ]:
l = [2,3,4,5,6,3,2,45,6,0]
reduce(lambda x,y:x+y,list(map(lambda x:x**2, filter(lambda x:x%2==0,l))))

96