In [2]:
# Problem 1 - Print the following pattern. Write a program to use for loop to print the following reverse number pattern.
# 5 4 3 2 1 
# 4 3 2 1 
# 3 2 1 
# 2 1 
# 1

row=5
for i in range(0,row+1):
    for j in range(row-i,0,-1):
        print(j,end=" ")

    print(" ")

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [11]:
# * 
# * * 
# * * * 
# * * * * 
# * * * * * 
# * * * * 
# * * * 
# * * 
# *


row = 4

for i in range(1,row+1):
    for j in range(0,i):
        print("*",end=" ")
    print()

for i in range(1,row):
    for j in range(row-i,0,-1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * *
* *
*

In [30]:
#     *
#    * *
#   * * *


rows = 6
for i in range(1,rows+1):
  print(' '*rows,end='')
  print('* '*i)
  rows = rows - 1

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *

In [34]:
# 1

# 2 1

# 3 2 1

# 4 3 2 1

# 5 4 3 2 1

row = 5
for i in range(0,row+1):
    for j in range(i,0,-1):
        print(j,end=" ")
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [39]:
# Write a Python Program to Find the Sum of the Series till the nth term:
# 1 + x^2/2 + x^3/3 + â€¦ x^n/n

x = 10
n =5
sum=1
s=""

print("1 + ",end="")
for i in range(2,n+1):
    sum += x**i/i
    s = s + "x^{}/{} + ".format(i,i)

print(s)
print(sum)

1 + x^2/2 + x^3/3 + x^4/4 + x^5/5 +
22884.333333333332

In [40]:
# 1 2 3 4
# 1 2 4 3
# 1 3 2 4
# 1 3 4 2
# 1 4 2 3
# 1 4 3 2
# 2 1 3 4
# 2 1 4 3
# 2 3 1 4
# 2 3 4 1
# 2 4 1 3

for i in range(1,5):
  for j in range(1,5):
    for k in range(1,5):
      for m in range(1,5):
        print(i,j,k,m)

1 1 1 1
1 1 1 2
1 1 1 3
1 1 1 4
1 1 2 1
1 1 2 2
1 1 2 3
1 1 2 4
1 1 3 1
1 1 3 2
1 1 3 3
1 1 3 4
1 1 4 1
1 1 4 2
1 1 4 3
1 1 4 4
1 2 1 1
1 2 1 2
1 2 1 3
1 2 1 4
1 2 2 1
1 2 2 2
1 2 2 3
1 2 2 4
1 2 3 1
1 2 3 2
1 2 3 3
1 2 3 4
1 2 4 1
1 2 4 2
1 2 4 3
1 2 4 4
1 3 1 1
1 3 1 2
1 3 1 3
1 3 1 4
1 3 2 1
1 3 2 2
1 3 2 3
1 3 2 4
1 3 3 1
1 3 3 2
1 3 3 3
1 3 3 4
1 3 4 1
1 3 4 2
1 3 4 3
1 3 4 4
1 4 1 1
1 4 1 2
1 4 1 3
1 4 1 4
1 4 2 1
1 4 2 2
1 4 2 3
1 4 2 4
1 4 3 1
1 4 3 2
1 4 3 3
1 4 3 4
1 4 4 1
1 4 4 2
1 4 4 3
1 4 4 4
2 1 1 1
2 1 1 2
2 1 1 3
2 1 1 4
2 1 2 1
2 1 2 2
2 1 2 3
2 1 2 4
2 1 3 1
2 1 3 2
2 1 3 3
2 1 3 4
2 1 4 1
2 1 4 2
2 1 4 3
2 1 4 4
2 2 1 1
2 2 1 2
2 2 1 3
2 2 1 4
2 2 2 1
2 2 2 2
2 2 2 3
2 2 2 4
2 2 3 1
2 2 3 2
2 2 3 3
2 2 3 4
2 2 4 1
2 2 4 2
2 2 4 3
2 2 4 4
2 3 1 1
2 3 1 2
2 3 1 3
2 3 1 4
2 3 2 1
2 3 2 2
2 3 2 3
2 3 2 4
2 3 3 1
2 3 3 2
2 3 3 3
2 3 3 4
2 3 4 1
2 3 4 2
2 3 4 3
2 3 4 4
2 4 1 1
2 4 1 2
2 4 1 3
2 4 1 4
2 4 2 1
2 4 2 2
2 4 2 3
2 4 2 4
2 4 3 1
2 4 3 2
2 4 3 3
2 4 3 4
2 4 4 1
2 4 4 2
2 4 4 3
2 4 4 4
3 1 1 1
3 1 1 2
3 1 1 3
3 1 1 4
3 1 2 1
3 1 2 2
3 1 2 3
3 1 2 4
3 1 3 1
3 1 3 2
3 1 3 3
3 1 3 4
3 1 4 1
3 1 4 2
3 1 4 3
3 1 4 4
3 2 1 1
3 2 1 2
3 2 1 3
3 2 1 4
3 2 2 1
3 2 2 2
3 2 2 3
3 2 2 4
3 2 3 1
3 2 3 2
3 2 3 3
3 2 3 4
3 2 4 1
3 2 4 2
3 2 4 3
3 2 4 4
3 3 1 1
3 3 1 2
3 3 1 3
3 3 1 4
3 3 2 1
3 3 2 2
3 3 2 3
3 3 2 4
3 3 3 1
3 3 3 2
3 3 3 3
3 3 3 4
3 3 4 1
3 3 4 2
3 3 4 3
3 3 4 4
3 4 1 1
3 4 1 2
3 4 1 3
3 4 1 4
3 4 2 1
3 4 2 2
3 4 2 3
3 4 2 4
3 4 3 1
3 4 3 2
3 4 3 3
3 4 3 4
3 4 4 1
3 4 4 2
3 4 4 3
3 4 4 4
4 1 1 1
4 1 1 2
4 1 1 3
4 1 1 4
4 1 2 1
4 1 2 2
4 1 2 3
4 1 2 4
4 1 3 1
4 1 3 2
4 1 3 3
4 1 3 4
4 1 4 1
4 1 4 2
4 1 4 3
4 1 4 4
4 2 1 1
4 2 1 2
4 2 1 3
4 2 1 4
4 2 2 1
4 2 2 2
4 2 2 3
4 2 2 4
4 2 3 1
4 2 3 2
4 2 3 3
4 2 3 4
4 2 4 1
4 2 4 2
4 2 4 3
4 2 4 4
4 3 1 1
4 3 1 2
4 3 1 3
4 3 1 4
4 3 2 1
4 3 2 2
4 3 2 3
4 3 2 4
4 3 3 1
4 3 3 2
4 3 3 3
4 3 3 4
4 3 4 1
4 3 4 2
4 3 4 3
4 3 4 4
4 4 1 1
4 4 1 2
4 4 1 3
4 4 1 4
4 4 2 1
4 4 2 2
4 4 2 3
4 4 2 4
4 4 3 1
4 4 3 2
4 4 3 3
4 4 3 4
4 4 4 1
4 4 4 2
4 4 4 3
4 4 4 4

In [43]:
# Write a program that will take a decimal number as input and prints out the binary equivalent of the number

n = int(input('enter the number'))
binary = []
while n > 0:

  binary.append(n%2)
  n = n//2

for i in binary[::-1]:
  print(i,end='')

110

In [47]:
# Given a string create short form ofthe string from Initial character. Short form should be capitalised.

inp = 'Data science Mentorship Program'
res=""
for i in inp.split():
    res = res + i[0].upper()
print(res)

DSMP

In [52]:
# Append second string in the middle of first string

s1 = input('enter the 1st string')
s2 = input('enter the 2nd string')

print(s1[0:int(len(s1)/2)] + s2 + s1[int(len(s1)/2):])
# print(s1[0:int(len(s1)/2)] + s2 + s1[int(len(s1)/2):])

asdscdscf

In [54]:
# Given string contains a combination of the lower and upper case letters. Write a program to arrange the characters of a string so that all lowercase letters should come first.

s = 'PyNaTive'

lower = ''
upper = ''

for i in s:
    if i.islower():
        lower = lower +i
    else:
        upper = upper +i

print(lower + upper)

yaivePNT

In [58]:
# Take a alphanumeric string input and print the sum and average of the digits that appear in the string, ignoring all other characters.

s = 'hel123O4every093'

sum = 0
count = 0

for i in s:
    if i.isdigit():
        sum = sum + int(i)
        count = count + 1

print(sum)
print(sum/count)
print(count)

22
3.142857142857143
7

In [59]:
# Removal of all characters from a string except integers

s = 'I am 25 years and 10 months old'
res = ""
for i in s:
    if i.isdigit():
        res = res+i

print(res)

2510

In [61]:
# Given a string. the task is to check if the string is symmetrical or not. A string is said to be symmetrical if both the halves of the string are the same.

s = input('enter the string')

if len(s)%2==0:
    s1 = s[0:len(s)//2]
    s2 = s[len(s)//2:]
else:

  s1 = s[0:len(s)//2]
  s2 = s[len(s)//2 + 1:]

if s1 == s2:
  print('symmetrical')
else:
  print('not symmetrical')

symmetrical

In [66]:
# We are given a string and we need to reverse words of a given string.

s = 'code practice quiz geeks'

L = []
for i in s.split():
    L.append(i)
L = L[::-1]
print(' '.join(L))

geeks quiz practice code

In [70]:
# Given two sentences as strings A and B. The task is to return a list of all uncommon words. 
# A word is uncommon if it appears exactly once in any one of the sentences, and does not 
# appear in the other sentence. Note: A sentence is a string of space-separated words. Each word consists only of lowercase letters.

A = "apple banana mango" 
B = "banana fruits mango"

L = []
for i in A.split():
    if i not in B.split() and i not in L:
        L.append(i)
for i in B.split():
    if i not in A.split() and i not in L:
        L.append(i)
print(L)

['apple', 'fruits']

In [73]:
# Find a location of a word in a given sentence.

s = 'We can learn data science through campusx mentorship program.'
word = 'campusx'

pos = 0

for i in s.split():
    pos +=1
    if i==word:
        break
print(pos)

7

In [75]:
# Write a program that can remove all the duplicate characters from a string. User will provide the input.

s = 'aaaabbbbbccccdddeeeeffff'

res=""
for i in s:
    if i not in res:
        res+=i

print(res)

abcdef